@import
    url("https://use.typekit.net/akt2mhc.css")
* {box-sizing: border-box;}

body { 
  margin: 0;
  padding; 0;
  font-family: "proxima-soft", sans-serif;
}

/*header*/
.header {
  overflow: hidden;
  background-color: #fff;
  padding: 0 10px;
}

.header a {
  float: left;
  color: #3c3c3b;
  text-align: center;
  padding: 33px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  font-family: "Agenda", sans-serif;
}

.header-right {
  float: right;
  line-height: 100px;
}

.header-right a{
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.4s;
}

.fotologo {
    width: 90%;
    padding-top: 5px;
}
.show-menu-btn, .hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.show-menu-btn {
    float: right;
}

.show-menu-btn i {
    line-height: 100px
}

.header-right a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
    color: #b5c6cb;
}

#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

@media screen and (max-width: 900px) {
    .show-menu-btn, .hide-menu-btn{
        display: block;
    }
    .header-right{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #d6dfe2;
        top: -2.5%;
        right: -100%;
        text-align: center;
        padding: 25px 0;
        line-height: normal;
        transition: 0.7s;
    }
    .header-right a{
        display:block;
        padding: 20px;
    }
    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chk:checked ~ .header-right{
        right: 0;
    }
}
 
/*homepage*/
  h1 {
    font-family: "Proxima-Soft", sans-serif;
    text-align:left;
    padding-left: 200px;
    font-size: 40px;
    padding-top: 3px;
    line-height: 45px;
    }
p {
    font-family: "Proxima-Soft", sans-serif;
    font-weight: 200;
    text-align: left;
    font-size: 15px;
    color: #3c3c3b;
    line-height: 18.5px;
    padding-left: 14.2%;
    padding-right: 50%;
   }

.homepagefoto {
    position:relative;
    bottom: 40px;
}


/*inleiding*/
/* Top right text */
.top-right {
  position: absolute;
  top: 104%;
  right: 12%;
  text-align: right;
  padding-left: 50%;
  line-height: 18.5px;
}

/*inleiding*/
h2 {
    font-family: "Proxima-Soft", sans-serif;
    text-align:right;
    padding-left: 50%;
    padding-right: 10px;
    font-size: 30px;
    padding-top: 1px;
}

p2 {
    font-family: "Proxima-Soft", sans-serif;
    font-weight: 200;
    color: #3c3c3b; 
}

div.gifkaart {
    position: relative;
    bottom: 565px;
    left: 50px;
}

/*counterup*/
.middle {
    position: absolute;
    top: 180%;
    width: 100%;
}

div.counting-sec {
    padding: 40px;
    width: 94.4%;
    background: #fff
}

.inner-width {
    max-width: 1200px;
    margin: auto;
    display: flex;
}

div.col {
    flex: 1;
    font-family: "proxima-soft", sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 23px;
    color: #3c3c3b;   
}

.num{
    font-size: 49px;
    margin: 5px 0;
}

/*links naar tijdlijnen*/
.klikvoortijdlijn {
    margin: auto;
    position: relative;
    bottom: 85px;
    display: flex;
    text-align: center;
    max-width: 1300px;
}

/*tekst over de delta's homepage*/

.infooverdeltas {
    position:relative;
    display: flex;
    bottom: 30px;
}

.nijldeltainfo {
    font-family: "Proxima-Soft", sans-serif;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    max-width: 1300px;
    padding-left: 145px;
}

.mississippideltainfo {
    font-family: "Proxima-Soft", sans-serif;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    max-width: 1300px;
    padding-left: 510px;
}

* {
  box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    padding-left: 60px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/*overmij page*/
.overmij {
    position: relative;
    display: flex;
    bottom: 8px;
}

.fa {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align:center;
  text-decoration:none;
  margin: 5px 2px;
}

.fa-linkedin {
  background: #fff;
  position: relative;
  color: blue;
  bottom: -140px;
  left: 990px;
}

.contact {
    position: relative;
    bottom: -145px;
    left: 320px;
    text-align: center;
    line-height: 27px;
}

/*instagram over mij page*/
.instagram {
    position: relative;
    bottom: 480px;
    left: 840px;
}

/*leaflet kaart*/
#leaflet { 
    height: 500px;
    width: 1300px;
    left: 65px;
    bottom: 20px;
 }

.hideshow{
    text-align: center;
    padding-bottom:  20px;
}

.kaartinfo {
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 50px
}

html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*footer*/
.footer {
  position: absolute;
  right: 0;
  bottom: 100;
  left: 0;
  padding: 1rem;
  background-color: #b5c6cb;
  text-align: center;
}
